NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

DYNAMO_REGION=us-west-2
DYNAMO_ENDPOINT=http://localhost:8000
DYNAMO_ACCESS_KEY_ID=fakeMyKeyId
DYNAMO_SECRET_ACCESS_KEY=fakeSecretAccessKey

SQS_ENDPOINT=http://localhost:9324
AWS_ORDER_CREATED_QUEUE_URL=http://localhost:9324/000000000000/order-created.fifo